# This is a basic workflow to help you get started with Actions

name: Create and publish docker image with .whl file

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --user --upgrade setuptools wheel requests

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Build wheel
        run: |
          cd $GITHUB_WORKSPACE
          python3 setup.py bdist_wheel -d TARGET
          
      - name: Login to docker.pkg.github.com
        run: |
          echo "${{ github.token }}" | docker login https://docker.pkg.github.com -u ${GITHUB_ACTOR} --password-stdin
          
      - name: Create and publish docker image
        run: |
          git_branch=${GITHUB_REF#refs/heads/}
          echo "${git_branch}"
          tag=$(echo "${git_branch}" | grep -o "[0-9.]\+")
          echo "${tag}"
          tag=`if ["${tag}" == ""]; then echo "latest"; else echo "${tag}"; fi
          echo "${tag}"
          docker build -t docker.pkg.github.com/hslu-abiz/pycaret/master:${tag} .
          docker push docker.pkg.github.com/hslu-abiz/pycaret/master:${tag}
